.content {
	background: #F7F5F9;
	display: grid;
	grid-template: auto / 1fr minmax(auto, 1400px) 1fr;
	// .content__body

	&__body {
		padding: 90px 0px 190px 0px;
		grid-column: 2/3;
		display: grid;
		grid-template: auto / 360px 1fr;
		column-gap: 86px;
		grid-template-areas: 
		"bar filter"
		"bar tickets"
		". tickets"
		". tickets"
		;
	}

	// .content__filters

	&__filters {
		grid-area: filter;
	}

	// .content__side-bar

	&__aside {
		grid-area: bar;
	}

	// .content__tickets

	&__tickets {
		
		grid-area: tickets;
		overflow: hidden;
		// min-width: 0;
	}
}

.passengers__btn,
.choice-of-places-btn{
	margin-top: 70px;
	justify-self: end;
	padding: 15px 70px;
	cursor: pointer;
	color: #FFF;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 5px;
	background: #FFA800;
	transition: .3s;
	&:hover{
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	}
	&:active{
		outline: 1px solid #FFA800;
		color: #FFA800;
		background: transparent;
	}
}



// ================ passengers  ================================

.content {

	// .content__passengers

	&__passengers {
		grid-area: filter;
		
	}
	&__bar-details {
		grid-area: bar;
	}
}
.passengers {
	display: grid;
		row-gap: 44px;
}

.bar-details {
	background: #3E3C41;
	// .bar-details__title

	&__title {
		padding: 35px 10px 30px 10px;
		text-align: center;
		color: #E5E5E5;
		font-size: 30px;
		font-weight: 500;
		text-transform: uppercase;
	}
	&__border{
		height: 1px;
		background: #E5E5E5;
	}
	// .bar-details__there

	&__there {
		padding: 16px 28px 53px 28px;
	}

	// .bar-details__back

	&__back {
		padding: 16px 28px 34px 28px;
	}

	// .bar-details__passengers

	&__passengers {
		padding: 16px 28px 46px 28px;
	}

	// .bar-details__total

	&__total {
		color: #FFA800;
		font-size: 48px;
		font-weight: 700;
		padding: 30px 28px 33px 28px;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		&::after{
			content: '\20BD';
			font-weight: 300;
			color: #FFF;
			margin-left: 7px;
		}
		span{
			display: inline-block;
			color: #FFF;
			font-size: 30px;
			font-weight: 700;
			text-transform: uppercase;
			margin-right: auto;
		}
	}
}
